# ===========================
# Archivos comprimidos
# ===========================
*.zip
*.rar
*.7z

# ===========================
# Archivos de sistema
# ===========================
.DS_Store
Thumbs.db
desktop.ini

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Configuración de IDE (raíz)
# ===========================
.vscode/
.idea/
*.iml